<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Clone</title>
    <link rel="stylesheet" href="/css/user-dashboard.css">
</head>
<body>
    <div class="container">
        <h1>D2P Model User Page</h1>
        <div class="post-form">
            <form action="https://d2p-hackout23.onrender.com/api/patient/prompt" method="POST">
                <input type="text" id="post-input" name="prompt" placeholder="What's happened?"></input>
                <button id="post-button" type="submit">Prompt</button>
            </form>
        </div>
        <div id="post-list"></div>

    </div>
    
    
    <script src="/js/user-dashboard.js"></script>
</body>
</html>
